.container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 2%;
}
.card{
    border-radius: 16px;
    overflow: hidden;
    background-color: #18181846;
}
.card_img{
    width: 100%;
}
.card_body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 4px 8px;
}