.tours{
    margin-top: 20px;
}
.tours__container{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: var(--on-surface);
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 100px;
    padding-bottom: 10px;
}
.tours__title{
    text-align: center;
    font-size: x-large;
    color: inherit;
    font-weight: 520;

}
.hotel__card2{
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    min-width: 200px;
}
.hotel__card__image{
    height: 200px;
}
.yellow{
    color: gold;
}
.red{
    color: red;
}
.right{
    direction: rtl;
    text-align: center;
}
.med{
    font-weight: 800;
}
@media(max-width:576px){
    .hotel__card2{
        width: 80%;
    }
}
