.header{
    font-family: 'Markazi Text', serif;
    height: 30px;
}

.header{
    height: 80px;
    background-color: var(--surface);
    box-shadow: 2px 5px 8px rgba(0,0,0,0.2);
    z-index: 100;
}
.header__container{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: row-reverse;
    max-width: 1300px;
    z-index: 100;
}
.header__links{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    gap: 20px;
    height:auto;
    color: var(--on-surface);
}
.header__a{
    margin: 0 10px;
    height: auto;
    color: inherit;
    font-size: x-large;
}

.header__title{
display: flex;
flex-direction: row-reverse;
}
.sign{
    color: var(--primary);
}
#bars{
    display: none;
}
@media(max-width:768px){
    .header__container{
        flex-direction: column;
        padding-bottom: 10px;

    }
    .header__links{
        flex-direction: column;
    }
    
    .header{
        height: auto;
    }
    #bars{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px 10px;
        font-size: 40px;
    }
    .header_close{
        display: none;
    }
}
@media(max-width:992px){
    .header__a{
        font-size:23px;
    }
}
    
