
.dashboard__logo{
    font-size: xx-large;
}
aside{
    direction: rtl;
    margin: 0;
    background-color: var(--on-background);
    color: white;
    width: 300px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    box-shadow: 0px 0px 23px 2px #000000;
}
aside .fa{
    font-size: 20px;
}
.section__title{
    user-select: none;
}
.dashboard__icon{
    font-size: 100px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
    gap: 15px;
    cursor: pointer;
}
.dashboard__sect-container{
    display: none;
}
.dashboard__sect-container--active{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 15px;
    margin-right: 20px;
    transition: 1s;
}
.section__users__title{
    cursor: pointer;
}
.dashboard__card{
    width: 20%;
    padding: 15px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(9,159,231,1) 0%, rgba(0,90,195,1) 100%);
    color: white;
    font-size: x-large;
    cursor: pointer;
}
.dashboard__main{
    margin-right:300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    gap: 10px;
}